Repository Friends-of-Foxley-Kenley-England/new-fof-website, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, css, dependencies

.github/labeler.yml:

# Add 'bug' label to any PR where the head branch name starts with `bug` or has a `bug` section in the name
bug:
  - head-branch: ["^bug", "bug", "^bugfix", "bugfix", "^fix", "fix"]

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**/*"

css:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.css"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - ".nvmrc"
          - "yarn.lock"
          - ".yarn/**/*"
          - ".yarnrc"

Remove redundant SiteHeader logic
  src/components/layout.js
Labels: none

Remove unused prop: title
  src/components/layout.js
Labels: none

Change node versions to build with
  .github/workflows/ci.yml
Labels: ci

Add aria labels to hamburger menu
  src/components/site-header.js
Labels: none

Add aria labels to external links
  src/components/external-link.js
  src/components/find-us-on-facebook.js
  src/components/site-footer.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/wych-elm.js
Labels: none

Remove aria expanded since it was hard-coded
  src/components/site-header.js
Labels: none

Remove redundant graphql fields from workday query
  src/templates/work-day-information.js
Labels: none

Add aria labels to hamburger menu
  src/components/site-header.js
Labels: none

Add aria labels to external links
  src/components/external-link.js
  src/components/find-us-on-facebook.js
  src/components/site-footer.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/wych-elm.js
Labels: none

Remove redundant SiteHeader logic
  src/components/layout.js
Labels: none

Remove unused prop: title
  src/components/layout.js
Labels: none

Remove aria expanded since it was hard-coded
  src/components/site-header.js
Labels: none

Change node versions to build with
  .github/workflows/ci.yml
Labels: ci

Remove redundant graphql fields from workday query
  src/templates/work-day-information.js
Labels: none

Include docs in the WARP.md that I already wrote
  WARP.md
Labels: none

Update npm package: prism #324
  .yarn/cache/gatsby-remark-prismjs-npm-7.12.0-f8f0febc04-fb6d6ebb30.zip
  .yarn/cache/gatsby-remark-prismjs-npm-7.15.0-6b5206756a-cb2ecac29a.zip
  .yarn/cache/prismjs-npm-1.29.0-6faa5b04b8-007a8869d4.zip
  .yarn/cache/prismjs-npm-1.30.0-c3c5ff824c-a68eddd4c5.zip
  package.json
  yarn.lock
Labels: dependencies

Update npm package: prism #324
  .yarn/cache/gatsby-remark-prismjs-npm-7.12.0-f8f0febc04-fb6d6ebb30.zip
  .yarn/cache/gatsby-remark-prismjs-npm-7.15.0-6b5206756a-cb2ecac29a.zip
  .yarn/cache/prismjs-npm-1.29.0-6faa5b04b8-007a8869d4.zip
  .yarn/cache/prismjs-npm-1.30.0-c3c5ff824c-a68eddd4c5.zip
  package.json
  yarn.lock
Labels: dependencies

Remove gatsby-plugin-gatsby-cloud plugin Fixes #323
  .yarn/cache/gatsby-plugin-gatsby-cloud-npm-5.14.0-78b880ab45-aae50a1e8b.zip
  .yarn/cache/kebab-hash-npm-0.1.2-e130c7867f-d3e3ecd949.zip
  .yarn/cache/lockfile-npm-1.0.4-00301b5723-8de35aace8.zip
  .yarn/cache/lodash.get-npm-4.4.2-7bda64ed87-e403047ddb.zip
  .yarn/cache/lodash.has-npm-4.5.2-0a10673e08-b3ec829a86.zip
  .yarn/cache/lodash.kebabcase-npm-4.1.1-89ffca7e1f-5a6c591619.zip
  .yarn/cache/webpack-assets-manifest-npm-5.1.0-fad26f5290-30b0929f6a.zip
  gatsby-config.js
  package.json
  yarn.lock
Labels: dependencies

Remove gatsby-plugin-gatsby-cloud plugin Fixes #323
  .yarn/cache/gatsby-plugin-gatsby-cloud-npm-5.14.0-78b880ab45-aae50a1e8b.zip
  .yarn/cache/kebab-hash-npm-0.1.2-e130c7867f-d3e3ecd949.zip
  .yarn/cache/lockfile-npm-1.0.4-00301b5723-8de35aace8.zip
  .yarn/cache/lodash.get-npm-4.4.2-7bda64ed87-e403047ddb.zip
  .yarn/cache/lodash.has-npm-4.5.2-0a10673e08-b3ec829a86.zip
  .yarn/cache/lodash.kebabcase-npm-4.1.1-89ffca7e1f-5a6c591619.zip
  .yarn/cache/webpack-assets-manifest-npm-5.1.0-fad26f5290-30b0929f6a.zip
  gatsby-config.js
  package.json
  yarn.lock
Labels: dependencies

Add missing webpack-stats-plugin
  package.json
  yarn.lock
Labels: dependencies

Rename react components from .js to .jsx
  gatsby-node.js
  redirects.json
  src/components/bio.jsx
  src/components/deprecated-seo-component.jsx
  src/components/external-link.jsx
  src/components/find-us-on-facebook.jsx
  src/components/hero-section.jsx
  src/components/layout.jsx
  src/components/seo.jsx
  src/components/site-footer.jsx
  src/components/site-header.jsx
  src/pages/404.jsx
  src/pages/contact.jsx
  src/pages/history.jsx
  src/pages/index.jsx
  src/pages/news.jsx
  src/pages/pages/ancient_beech_tree.jsx
  src/pages/resources.jsx
  src/pages/trees.jsx
  src/pages/trees/ancient-beech-tree-diversion.jsx
  src/pages/trees/english-oak.jsx
  src/pages/trees/wych-elm.jsx
  src/pages/wood-products.jsx
  src/pages/work-days.jsx
  src/templates/blog-post.jsx
  src/templates/work-day-information.jsx
Labels: none

Rename react components from .js to .jsx
  gatsby-node.js
  redirects.json
  src/components/bio.jsx
  src/components/deprecated-seo-component.jsx
  src/components/external-link.jsx
  src/components/find-us-on-facebook.jsx
  src/components/hero-section.jsx
  src/components/layout.jsx
  src/components/seo.jsx
  src/components/site-footer.jsx
  src/components/site-header.jsx
  src/pages/404.jsx
  src/pages/contact.jsx
  src/pages/history.jsx
  src/pages/index.jsx
  src/pages/news.jsx
  src/pages/pages/ancient_beech_tree.jsx
  src/pages/resources.jsx
  src/pages/trees.jsx
  src/pages/trees/ancient-beech-tree-diversion.jsx
  src/pages/trees/english-oak.jsx
  src/pages/trees/wych-elm.jsx
  src/pages/wood-products.jsx
  src/pages/work-days.jsx
  src/templates/blog-post.jsx
  src/templates/work-day-information.jsx
Labels: none

Move components to folders
  src/components/bio/bio.jsx
  src/components/bio/bio.module.css
  src/components/bio/index.js
  src/components/deprecated-seo-component/deprecated-seo-component.jsx
  src/components/deprecated-seo-component/index.js
  src/components/external-link/external-link.jsx
  src/components/external-link/index.js
  src/components/find-us-on-facebook/find-us-on-facebook.jsx
  src/components/find-us-on-facebook/find-us-on-facebook.module.css
  src/components/find-us-on-facebook/index.js
  src/components/hero-section/hero-section.jsx
  src/components/hero-section/hero-section.module.css
  src/components/hero-section/index.js
  src/components/layout/index.js
  src/components/layout/layout.jsx
  src/components/layout/layout.module.css
  src/components/seo/index.js
  src/components/seo/seo.jsx
  src/components/site-footer/index.js
  src/components/site-footer/site-footer.jsx
  src/components/site-footer/site-footer.module.css
  src/components/site-header/index.js
  src/components/site-header/site-header.jsx
  src/components/site-header/site-header.module.css
Labels: css

Add stories #330
  src/components/bio/Bio.stories.jsx
  src/components/external-link/ExternalLink.stories.jsx
  src/components/find-us-on-facebook/FindUsOnFacebook.stories.jsx
  src/components/hero-section/HeroSection.stories.jsx
  src/components/layout/Layout.stories.jsx
  src/components/seo/SEO.stories.jsx
  src/components/site-footer/SiteFooter.stories.jsx
  src/components/site-header/SiteHeader.stories.jsx
Labels: none

yarn add -D @storybook/react
  package.json
  yarn.lock
Labels: dependencies

Remove "@storybook/react"
  package.json
  yarn.lock
Labels: dependencies

Gatsby docs https://www.gatsbyjs.com/docs/how-to/testing/visual-testing-with-storybook/
  .storybook/main.js
  .storybook/preview.js
Labels: none

yarn add -D babel-plugin-remove-graphql-queries
  package.json
  yarn.lock
Labels: dependencies

WIP
  .storybook/main.js
  .storybook/preview.js
Labels: none

WIP
  .storybook/main.js
Labels: none

WIP
  .storybook/main.js
Labels: none

WIP
  .storybook/main.js
  src/components/bio/bio.jsx
Labels: none

yarn add -D jest-environment-jsdom
  .yarn/cache/@asamuzakjp-css-color-npm-3.2.0-ed5b7465ba-e253261700.zip
  .yarn/cache/@csstools-color-helpers-npm-5.1.0-d44a2a6134-2b1cef0093.zip
  .yarn/cache/@csstools-css-calc-npm-2.1.4-81c74a3511-b833d1a031.zip
  .yarn/cache/@csstools-css-color-parser-npm-3.1.0-005f6b530f-615d825fc7.zip
  .yarn/cache/@csstools-css-parser-algorithms-npm-3.0.5-a0aa2fe05e-8064713957.zip
  .yarn/cache/@csstools-css-tokenizer-npm-3.0.4-342d48d326-adc6681d3a.zip
  .yarn/cache/@jest-environment-jsdom-abstract-npm-30.2.0-3914378c5f-f91f3ee1aa.zip
  .yarn/cache/@types-jsdom-npm-21.1.7-b9d35cbe67-b7465d5a47.zip
  .yarn/cache/@types-tough-cookie-npm-4.0.5-8c5e2162e1-f19409d019.zip
  .yarn/cache/agent-base-npm-7.1.4-cb8b4604d5-86a7f542af.zip
  .yarn/cache/cssstyle-npm-4.6.0-ef3d5f305b-0bdb1229e9.zip
  .yarn/cache/data-urls-npm-5.0.0-4b58b89bfe-5c40568c31.zip
  .yarn/cache/decimal.js-npm-10.6.0-a72c1b8a2f-9302b990cd.zip
  .yarn/cache/entities-npm-6.0.1-84692dab43-937b952e81.zip
  .yarn/cache/html-encoding-sniffer-npm-4.0.0-5f6627070d-3339b71dab.zip
  .yarn/cache/http-proxy-agent-npm-7.0.2-643ed7cc33-670858c8f8.zip
  .yarn/cache/https-proxy-agent-npm-7.0.6-27a95c2690-b882377a12.zip
  .yarn/cache/is-potential-custom-element-name-npm-1.0.1-f352f606f8-ced7bbbb64.zip
  .yarn/cache/jest-environment-jsdom-npm-30.2.0-ab99676bdc-bb3768b7ef.zip
  .yarn/cache/jsdom-npm-26.1.0-3857255f02-248e500a87.zip
  .yarn/cache/nwsapi-npm-2.2.22-f23e9964e9-9491f0396d.zip
  .yarn/cache/parse5-npm-7.3.0-b0410074a3-ffd040c469.zip
  .yarn/cache/rrweb-cssom-npm-0.8.0-0c92f2366d-b84912cd1f.zip
  .yarn/cache/saxes-npm-6.0.0-31558949f5-d3fa3e2aaf.zip
  .yarn/cache/symbol-tree-npm-3.2.4-fe70cdb75b-6e8fc7e148.zip
  .yarn/cache/tldts-core-npm-6.1.86-540def5eb4-0a715457e0.zip
  .yarn/cache/tldts-npm-6.1.86-45627de9ca-e5c57664f7.zip
  .yarn/cache/tough-cookie-npm-5.1.2-bb11a20ec3-31c626a77a.zip
  .yarn/cache/tr46-npm-5.1.1-88f3ca645b-da7a04bd3f.zip
  .yarn/cache/w3c-xmlserializer-npm-5.0.0-589edd7bff-593acc1fda.zip
  .yarn/cache/webidl-conversions-npm-7.0.0-e8c8e30c68-f05588567a.zip
  .yarn/cache/whatwg-encoding-npm-3.1.1-7dfe21cf7d-f75a614224.zip
  .yarn/cache/whatwg-mimetype-npm-4.0.0-ebb293a688-f97edd4b4e.zip
  .yarn/cache/whatwg-url-npm-14.2.0-67b670990c-c4f1ae1d35.zip
  .yarn/cache/ws-npm-8.18.3-665d39209d-d64ef16312.zip
  .yarn/cache/xml-name-validator-npm-5.0.0-0e0ec66944-86effcc702.zip
  .yarn/cache/xmlchars-npm-2.2.0-8b78f0f5e4-8c70ac9407.zip
  package.json
  yarn.lock
Labels: dependencies

Configure jest and react testing library
  TESTING.md
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest-preprocess.js
  jest.config.js
  jest.setup.js
  package.json
Labels: none

added unit tests
  src/components/bio/bio.test.jsx
  src/components/external-link/external-link.test.jsx
  src/components/seo/seo.test.jsx
  src/components/site-footer/site-footer.test.jsx
  src/components/site-header/site-header.test.jsx
Labels: none

run tests in ci
  .github/workflows/ci.yml
Labels: ci

Run tests with test coverage
  .github/workflows/ci.yml
Labels: ci

Suppress DOM error which only happens in test run
  src/components/seo/seo.test.jsx
Labels: none

Add test for function parseMeetingPoint
  src/helpers/parse-meeting-point.test.js
Labels: none

Remove --immutable-cache from yarn install command in ci
  .github/workflows/ci.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci
