Repository Friends-of-Foxley-Kenley-England/new-fof-website, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, css, dependencies

Add an issue template
  .github/ISSUE_TEMPLATE/update-dependency.md
Labels: none

Update prettier npm package #282
  .yarn/cache/prettier-npm-3.4.1-ebb52d2db5-f83ae83e38.zip
  .yarn/cache/prettier-npm-3.5.2-1191b74a1d-77adb755fc.zip
  package.json
  yarn.lock
Labels: dependencies

Trigger CI on all branches
  .github/workflows/ci.yml
Labels: ci

Replace deprecated image placeholder #272
  src/components/find-us-on-facebook.js
  src/components/hero-section.js
Labels: none

Fix branches-ignore syntax to prevent firebase deployments on dependabot branches
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Fix branches-ignore syntax to prevent firebase deployments on dependabot branches
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Replace deprecated image placeholder #272
  src/components/find-us-on-facebook.js
  src/components/hero-section.js
Labels: none

Use reshepe web vitals to track website performance #293
  .github/workflows/firebase-hosting-merge.yml
  docs/web-vitals.md
  src/pages/index.js
Labels: ci

Use reshepe web vitals to track website performance #293
  .github/workflows/firebase-hosting-merge.yml
  docs/web-vitals.md
  src/pages/index.js
Labels: ci

Update syntax for mapping the reshepe public key on deployment
  .github/workflows/firebase-hosting-merge.yml
Labels: ci

Updated docs for reshepe to include links
  docs/web-vitals.md
Labels: none

Lint github actions workflows
  .github/workflows/lint-github-actions-workflows.yml
Labels: ci

Lint github actions workflows
  .github/workflows/lint-github-actions-workflows.yml
Labels: ci

Add jsconfig for better VSCode refactoring support
  jsconfig.json
Labels: none

Marked SEO component as deprecated
  src/components/deprecated-seo-component.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Spiking the new SEO componenet #291
  src/components/seo.js
Labels: none

Marked SEO component as deprecated #291
  src/components/deprecated-seo-component.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Add jsconfig for better VSCode refactoring support
  jsconfig.json
Labels: none

Marked SEO component as deprecated #291
  src/components/deprecated-seo-component.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Update permissions so that dependabot has permission to run CI
  .github/workflows/ci.yml
Labels: ci

Fix branches-ignore syntax to prevent firebase deployments on dependabot branches
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Including branches I want to run the firebase PR deployment
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Prevent dependabot branches triggering firebase PR deployment with condition
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Spiking adding w3w map on the work day description pages
  .yarn/cache/@googlemaps-js-api-loader-npm-1.14.3-0b6d7f8b05-55ec4519c3.zip
  .yarn/cache/@stencil-core-npm-2.14.2-044d285baa-9c6345da4d.zip
  .yarn/cache/@what3words-api-npm-3.3.6-9f7682410e-9aee2bd1f8.zip
  .yarn/cache/@what3words-api-npm-5.4.0-215d8634cb-2ce575ae58.zip
  .yarn/cache/@what3words-javascript-components-npm-4.0.5-0b3c412b20-b4fcff01d1.zip
  .yarn/cache/@what3words-javascript-components-npm-5.0.0-3c0b53596a-9ba3b2d741.zip
  .yarn/cache/@what3words-react-components-npm-4.0.5-12d85b3c3e-d483b7c69b.zip
  .yarn/cache/@what3words-react-components-npm-5.0.0-f6dd042563-fe2e436323.zip
  .yarn/cache/axios-npm-0.21.4-e278873748-44245f24ac.zip
  .yarn/cache/cross-fetch-npm-4.1.0-6116134545-c02fa85d59.zip
  .yarn/cache/follow-redirects-npm-1.14.9-522f191631-f5982e0eb4.zip
  .yarn/cache/querystring-npm-0.2.1-15cb60859d-7b83b45d64.zip
  .yarn/cache/uuid-npm-10.0.0-4872b46ff8-4b81611ade.zip
  package.json
  src/components/what-3-words-map.js
  src/templates/work-day-information.js
  yarn.lock
Labels: dependencies

example on website which doesn't load
  src/components/what-3-words-map.js
Labels: none

Tried rendering on the homepage, but same result
  src/pages/index.js
Labels: none

Update dependabot config
  .github/dependabot.yml
Labels: none

Remove trailing spaces from URLs
  gatsby-config.js
Labels: none

Set jsxRuntime so that each component doesn't need to import from react
  gatsby-config.js
  src/components/bio.js
  src/components/deprecated-seo-component.js
  src/components/external-link.js
  src/components/find-us-on-facebook.js
  src/components/hero-section.js
  src/components/layout.js
  src/components/site-footer.js
  src/components/site-header.js
  src/helpers/contentful-rendering-options.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Move the dependencies sections to the bottom of `package.json`
  package.json
Labels: none

Remove bundle stats analyser
  .yarn/cache/@bundle-stats-cli-utils-npm-3.3.8-dc6f8f07a0-c518833fb3.zip
  .yarn/cache/@bundle-stats-html-templates-npm-3.3.8-67725e7c9f-d9400dda34.zip
  .yarn/cache/@bundle-stats-plugin-webpack-filter-npm-3.3.8-560c978df1-d24664984b.zip
  .yarn/cache/@bundle-stats-plugin-webpack-validate-npm-3.3.8-efbe1e21fe-18e0b8eb96.zip
  .yarn/cache/@bundle-stats-utils-npm-3.3.8-455e619814-0b94dfdb83.zip
  .yarn/cache/bundle-stats-webpack-plugin-npm-3.3.8-355ef5b898-d826582254.zip
  .yarn/cache/convert-units-npm-3.0.0-beta.4-7860874687-caa83a14bb.zip
  .yarn/cache/core-js-npm-3.22.5-80d17319fb-d3d7495d7c.zip
  .yarn/cache/fs-extra-npm-10.1.0-86573680ed-dc94ab3709.zip
  .yarn/cache/gatsby-plugin-bundle-stats-npm-3.3.8-b0bfe17569-8dab683496.zip
  .yarn/cache/query-string-npm-7.1.1-55c6f31f52-b227d1f588.zip
  .yarn/cache/serialize-query-params-npm-1.3.6-cdc1c67aee-72b496836c.zip
  .yarn/cache/superstruct-npm-0.8.3-70b3293502-03699d3d86.zip
  .yarn/cache/tiny-invariant-npm-1.2.0-024338c59c-e09a718a7c.zip
  .yarn/cache/webpack-stats-plugin-npm-1.0.3-6fcec4341c-c6f400b945.zip
  gatsby-config.js
  package.json
  yarn.lock
Labels: dependencies

Update contentful env in example config
  .env.example
Labels: none

Reword readme
  README.md
Labels: none

Map more siteMetadata properties for the new SEO component
  gatsby-config.js
  gatsby-node.js
Labels: none

Use siteMetada from graphql query in layout component
  src/components/layout.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Implemented new SEO component using gatsby guidelines #291
  src/components/seo.js
  src/hooks/use-site-metadata.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/pages/ancient_beech_tree.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Map more siteMetadata properties for the new SEO component
  gatsby-config.js
  gatsby-node.js
Labels: none

Use siteMetada from graphql query in layout component
  src/components/layout.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Implemented new SEO component using gatsby guidelines #291
  src/components/seo.js
  src/hooks/use-site-metadata.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/index.js
  src/pages/news.js
  src/pages/pages/ancient_beech_tree.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Set meta description to News article short description
  src/templates/blog-post.js
Labels: none

.github/labeler.yml:

# Add 'bug' label to any PR where the head branch name starts with `bug` or has a `bug` section in the name
bug:
  - head-branch: ["^bug", "bug", "^bugfix", "bugfix", "^fix", "fix"]

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**/*"

css:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.css"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - ".nvmrc"
          - "yarn.lock"
          - ".yarn/**/*"
          - ".yarnrc"
