Repository Friends-of-Foxley-Kenley-England/new-fof-website, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, css, dependencies

Set meta description to work day short description
  src/templates/work-day-information.js
Labels: none

Update the metadata URL param value
  src/components/seo.js
Labels: none

Pass pathname to SEO component for canonical URLs
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/news.js
  src/pages/pages/ancient_beech_tree.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Add canonical tag to SEO component
  src/components/seo.js
Labels: none

Update metadata `og:site_name` to use `organisationName`
  src/components/seo.js
Labels: none

Only render canonical links if URL is present
  src/components/seo.js
Labels: none

Pass pathname to SEO component for canonical URLs
  src/pages/404.js
  src/pages/contact.js
  src/pages/history.js
  src/pages/news.js
  src/pages/pages/ancient_beech_tree.js
  src/pages/resources.js
  src/pages/trees.js
  src/pages/trees/ancient-beech-tree-diversion.js
  src/pages/trees/english-oak.js
  src/pages/trees/wych-elm.js
  src/pages/wood-products.js
  src/pages/work-days.js
  src/templates/blog-post.js
  src/templates/work-day-information.js
Labels: none

Update metadata `og:site_name` to use `organisationName`
  src/components/seo.js
Labels: none

Only render canonical links if URL is present
  src/components/seo.js
Labels: none

Add canonical tag to SEO component
  src/components/seo.js
Labels: none

Set meta description to News article short description
  src/templates/blog-post.js
Labels: none

Update the metadata URL param value
  src/components/seo.js
Labels: none

Set meta description to work day short description
  src/templates/work-day-information.js
Labels: none

Prefix SEO title prefix for work days
  src/templates/work-day-information.js
Labels: none

Install qunit
  .yarn/cache/@babel-helper-annotate-as-pure-npm-7.25.9-a0f89e14a0-41edda10df.zip
  .yarn/cache/@babel-helper-plugin-utils-npm-7.26.5-f9c17c9880-4771fbb171.zip
  .yarn/cache/@babel-helper-validator-option-npm-7.25.9-6450027d5d-9491b27559.zip
  .yarn/cache/@babel-plugin-syntax-jsx-npm-7.25.9-3df022f433-bb609d1ffb.zip
  .yarn/cache/@babel-plugin-transform-react-display-name-npm-7.25.9-b5a9d1be46-cd7020494e.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-development-npm-7.25.9-28d4af0f30-537d383695.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-npm-7.25.9-ace1d732cc-5c6523c396.zip
  .yarn/cache/@babel-plugin-transform-react-pure-annotations-npm-7.25.9-0805f32a21-9995c0fc7c.zip
  .yarn/cache/@babel-preset-react-npm-7.26.3-2d5f3b732a-9c76f14502.zip
  .yarn/cache/globalyzer-npm-0.1.0-3982d25961-419a0f95ba.zip
  .yarn/cache/globrex-npm-0.1.2-ddda94f2d0-adca162494.zip
  .yarn/cache/node-watch-npm-0.7.3-5d3299c276-c745482f72.zip
  .yarn/cache/qunit-npm-2.24.1-bff21adf7d-0f12915dd2.zip
  .yarn/cache/tiny-glob-npm-0.2.9-068f4ab3f8-aea5801eb6.zip
  package.json
  yarn.lock
Labels: dependencies

Config and first test (not working)
  .babelrc
  index.html
  src/components/hero-section.test.js
  webpack.config.js
Labels: none

Add sypress script
  package.json
Labels: none

Configure cypress
  cypress.config.js
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/component-index.html
  cypress/support/component.js
  webpack.config.js
Labels: none

first tests
  cypress/support/component.js
  src/components/bioBio.cy.js
  src/components/hero-section.cy.js
  src/components/hero-section.js
Labels: none

config
  .yarn/cache/@types-html-minifier-terser-npm-6.1.0-707ea07fcb-eb843f6a8d.zip
  .yarn/cache/clean-css-npm-5.3.3-d2bb553a94-941987c148.zip
  .yarn/cache/commander-npm-8.3.0-c0d18c66d5-0f82321821.zip
  .yarn/cache/html-minifier-terser-npm-6.1.0-49a405eebd-ac52c14006.zip
  .yarn/cache/html-webpack-plugin-npm-5.6.3-57a7b18662-59e7d971b0.zip
  .yarn/cache/pretty-error-npm-4.0.0-7cca1fe4ad-a5b9137365.zip
  .yarn/cache/relateurl-npm-0.2.7-7687cc0a2a-5891e792ea.zip
  .yarn/cache/renderkid-npm-3.0.0-acb028643f-77162b62d6.zip
  .yarn/cache/terser-npm-5.39.0-127c67156d-e39c302aed.zip
  cypress.config.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/component.js
  cypress/webpack.config.js
  gatsby-config.js
  package.json
  src/components/hero-section.cy.js
  webpack.config.js
  yarn.lock
Labels: dependencies

CSS classnames not in html
  .yarn/cache/@babel-plugin-syntax-typescript-npm-7.25.9-5201e4ba77-0e9821e8ba.zip
  .yarn/cache/@babel-plugin-transform-typescript-npm-7.26.8-39910f0c61-3d8866f2c5.zip
  .yarn/cache/@babel-preset-typescript-npm-7.26.0-0771d290dd-6d8641fa6e.zip
  .yarn/cache/css-loader-npm-7.1.2-7540f12884-15bfd90d77.zip
  .yarn/cache/nanoid-npm-3.3.9-8fe0f624ac-42b1dc3e05.zip
  .yarn/cache/postcss-modules-extract-imports-npm-3.1.0-501aab09e8-b9192e0f4f.zip
  .yarn/cache/postcss-modules-local-by-default-npm-4.2.0-3f37e3939f-720d145453.zip
  .yarn/cache/postcss-modules-scope-npm-3.2.1-eb0a0538a7-085f65863b.zip
  .yarn/cache/postcss-npm-8.5.3-37174aa03d-da574620eb.zip
  .yarn/cache/postcss-selector-parser-npm-7.1.0-141ba29b54-1300e7871d.zip
  .yarn/cache/style-loader-npm-4.0.0-e0f957f3d6-0b751b4cc8.zip
  cypress.config.js
  cypress/screenshots/hero-section.cy.js/An uncaught error was detected outside of a test (failed).png
  cypress/webpack.config.js
  package.json
  src/components/hero-section.cy.js
  yarn.lock
Labels: dependencies

e2e tests
  cypress.config.js
  cypress/e2e/home.cy.js
  cypress/screenshots/hero-section.cy.js/An uncaught error was detected outside of a test (failed).png
  cypress/screenshots/hero-section.cy.js/HeroSection Component -- renders the hero section with the correct image and text (failed).png
  cypress/support/e2e.js
  cypress/webpack.config.js
  src/components/bioBio.cy.js
Labels: none

Remove duplicate paragraph from the ancient beech tree diversion page
  src/pages/trees/ancient-beech-tree-diversion.js
Labels: none

Update node from v18 to v22 Fixes #280
  .nvmrc
Labels: dependencies

Expire Firebase preview environment after 1 day
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Run devskim on ubuntu latest runner
  .github/workflows/devskim.yml
Labels: ci

Update github/codeql-action/upload-sarif
  .github/workflows/devskim.yml
Labels: ci

Update node from v18 to v22 Fixes #280
  .nvmrc
Labels: dependencies

Update github/codeql-action/upload-sarif
  .github/workflows/devskim.yml
Labels: ci

Run devskim on ubuntu latest runner
  .github/workflows/devskim.yml
Labels: ci

Expire Firebase preview environment after 1 day
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Set default formatter
  .vscode/settings.json
Labels: none

Updated ancient beech tree copy from Anthony's updated copy
  src/pages/trees/ancient-beech-tree-diversion.js
Labels: none

Set default formatter
  .vscode/settings.json
Labels: none

Updated ancient beech tree copy from Anthony's updated copy
  src/pages/trees/ancient-beech-tree-diversion.js
Labels: none

Add warp.dev config
  WARP.md
Labels: none

Add space ID to config since it's not secret
  .env.example
Labels: none

Updated setup info in readme
  README.md
Labels: none

Update node engine to match .nvmrc
  .yarn/cache/@lmdb-lmdb-darwin-arm64-npm-2.5.2-ba0aa88b93-8.zip
  .yarn/cache/@lmdb-lmdb-darwin-arm64-npm-2.5.3-68d0bab047-8.zip
  .yarn/cache/@parcel-watcher-darwin-arm64-npm-2.3.0-b75954f53c-8.zip
  .yarn/cache/fsevents-patch-3340e2eb10-8.zip
  package.json
Labels: dependencies

Include docs in the WARP.md that I already wrote
  WARP.md
Labels: none

.github/labeler.yml:

# Add 'bug' label to any PR where the head branch name starts with `bug` or has a `bug` section in the name
bug:
  - head-branch: ["^bug", "bug", "^bugfix", "bugfix", "^fix", "fix"]

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**/*"

css:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.css"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - ".nvmrc"
          - "yarn.lock"
          - ".yarn/**/*"
          - ".yarnrc"
