Repository Friends-of-Foxley-Kenley-England/new-fof-website, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, css, dependencies

Add more tests
  src/components/find-us-on-facebook/find-us-on-facebook.test.jsx
  src/components/hero-section/hero-section.test.jsx
  src/components/layout/layout.test.jsx
Labels: none

run tests in ci
  .github/workflows/ci.yml
Labels: ci

Run tests with test coverage
  .github/workflows/ci.yml
Labels: ci

Remove --immutable-cache from yarn install command in ci
  .github/workflows/ci.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Configure jest and react testing library
  TESTING.md
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest-preprocess.js
  jest.config.js
  jest.setup.js
  package.json
Labels: none

yarn add -D jest-environment-jsdom
  .yarn/cache/@asamuzakjp-css-color-npm-3.2.0-ed5b7465ba-e253261700.zip
  .yarn/cache/@csstools-color-helpers-npm-5.1.0-d44a2a6134-2b1cef0093.zip
  .yarn/cache/@csstools-css-calc-npm-2.1.4-81c74a3511-b833d1a031.zip
  .yarn/cache/@csstools-css-color-parser-npm-3.1.0-005f6b530f-615d825fc7.zip
  .yarn/cache/@csstools-css-parser-algorithms-npm-3.0.5-a0aa2fe05e-8064713957.zip
  .yarn/cache/@csstools-css-tokenizer-npm-3.0.4-342d48d326-adc6681d3a.zip
  .yarn/cache/@jest-environment-jsdom-abstract-npm-30.2.0-3914378c5f-f91f3ee1aa.zip
  .yarn/cache/@types-jsdom-npm-21.1.7-b9d35cbe67-b7465d5a47.zip
  .yarn/cache/@types-tough-cookie-npm-4.0.5-8c5e2162e1-f19409d019.zip
  .yarn/cache/agent-base-npm-7.1.4-cb8b4604d5-86a7f542af.zip
  .yarn/cache/cssstyle-npm-4.6.0-ef3d5f305b-0bdb1229e9.zip
  .yarn/cache/data-urls-npm-5.0.0-4b58b89bfe-5c40568c31.zip
  .yarn/cache/decimal.js-npm-10.6.0-a72c1b8a2f-9302b990cd.zip
  .yarn/cache/entities-npm-6.0.1-84692dab43-937b952e81.zip
  .yarn/cache/html-encoding-sniffer-npm-4.0.0-5f6627070d-3339b71dab.zip
  .yarn/cache/http-proxy-agent-npm-7.0.2-643ed7cc33-670858c8f8.zip
  .yarn/cache/https-proxy-agent-npm-7.0.6-27a95c2690-b882377a12.zip
  .yarn/cache/is-potential-custom-element-name-npm-1.0.1-f352f606f8-ced7bbbb64.zip
  .yarn/cache/jest-environment-jsdom-npm-30.2.0-ab99676bdc-bb3768b7ef.zip
  .yarn/cache/jsdom-npm-26.1.0-3857255f02-248e500a87.zip
  .yarn/cache/nwsapi-npm-2.2.22-f23e9964e9-9491f0396d.zip
  .yarn/cache/parse5-npm-7.3.0-b0410074a3-ffd040c469.zip
  .yarn/cache/rrweb-cssom-npm-0.8.0-0c92f2366d-b84912cd1f.zip
  .yarn/cache/saxes-npm-6.0.0-31558949f5-d3fa3e2aaf.zip
  .yarn/cache/symbol-tree-npm-3.2.4-fe70cdb75b-6e8fc7e148.zip
  .yarn/cache/tldts-core-npm-6.1.86-540def5eb4-0a715457e0.zip
  .yarn/cache/tldts-npm-6.1.86-45627de9ca-e5c57664f7.zip
  .yarn/cache/tough-cookie-npm-5.1.2-bb11a20ec3-31c626a77a.zip
  .yarn/cache/tr46-npm-5.1.1-88f3ca645b-da7a04bd3f.zip
  .yarn/cache/w3c-xmlserializer-npm-5.0.0-589edd7bff-593acc1fda.zip
  .yarn/cache/webidl-conversions-npm-7.0.0-e8c8e30c68-f05588567a.zip
  .yarn/cache/whatwg-encoding-npm-3.1.1-7dfe21cf7d-f75a614224.zip
  .yarn/cache/whatwg-mimetype-npm-4.0.0-ebb293a688-f97edd4b4e.zip
  .yarn/cache/whatwg-url-npm-14.2.0-67b670990c-c4f1ae1d35.zip
  .yarn/cache/ws-npm-8.18.3-665d39209d-d64ef16312.zip
  .yarn/cache/xml-name-validator-npm-5.0.0-0e0ec66944-86effcc702.zip
  .yarn/cache/xmlchars-npm-2.2.0-8b78f0f5e4-8c70ac9407.zip
  package.json
  yarn.lock
Labels: dependencies

added unit tests
  src/components/bio/bio.test.jsx
  src/components/external-link/external-link.test.jsx
  src/components/seo/seo.test.jsx
  src/components/site-footer/site-footer.test.jsx
  src/components/site-header/site-header.test.jsx
Labels: none

Add test for function parseMeetingPoint
  src/helpers/parse-meeting-point.test.js
Labels: none

Add more tests
  src/components/find-us-on-facebook/find-us-on-facebook.test.jsx
  src/components/hero-section/hero-section.test.jsx
  src/components/layout/layout.test.jsx
Labels: none

Suppress DOM error which only happens in test run
  src/components/seo/seo.test.jsx
Labels: none

Update WARP instructions to say only use yarn
  WARP.md
Labels: none

Remove deprecated addons
  .storybook/main.js
Labels: none

Claude did more mocking to make the static image render in a more similar way to how Gatsby does
  .storybook/gatsby-mock.jsx
Labels: none

Add style and font imports
  .storybook/preview.js
Labels: none

Fix CSS loading
  .storybook/main.js
Labels: none

Mock the Gatsby StaticImage component more accurately so components look more like they should
  .storybook/gatsby-mock.jsx
Labels: none

Update footer story to make the usage more realistic
  src/components/site-footer/SiteFooter.stories.jsx
Labels: none

Enable codepanel
  .storybook/preview.js
Labels: none

Rename stories to match naming conventions
  src/components/external-link/external-link.stories.jsx
  src/components/find-us-on-facebook/find-us-on-facebook.stories.jsx
  src/components/hero-section/hero-section.stories.jsx
  src/components/site-footer/site-footer.stories.jsx
  src/components/site-header/site-header.stories.jsx
Labels: none

Configure viewports
  .storybook/preview.js
Labels: none

Show small screen menu bar story
  src/components/site-header/site-header.stories.jsx
Labels: none

Set __PATH_PREFIX__ in storybook config to make layout work
  .storybook/main.js
Labels: none

Remove redundant config
  src/components/site-header/site-header.stories.jsx
Labels: none

Add stories to show hero image and smaller screens
  src/components/layout/Layout.stories.jsx
Labels: none

Add storybook deployment #333
  .github/workflows/deploy-github-pages.yml
Labels: ci

Update path in PROD so storybook can find images when hosted in GH pages
  .storybook/main.js
Labels: none

Rename workflow
  .github/workflows/deploy-storybook-to-github-pages.yml
Labels: ci

Rename firebase workflows
  .github/workflows/deploy-via-firebase-hosting-merge.yml
  .github/workflows/deploy-via-firebase-hosting-pull-request.yml
Labels: ci

Update static dirs based on whether local or hosted env
  .storybook/main.js
Labels: none

On deploying storybook, set NODE_ENV to production
  .github/workflows/deploy-storybook-to-github-pages.yml
Labels: ci

Uodate image path in storybook when hosted in GH pages
  .storybook/gatsby-mock.jsx
  .storybook/main.js
Labels: none

Set the storybook hosted env to storybook instead of PROD to avoid confusion with the PROD site
  .github/workflows/deploy-storybook-to-github-pages.yml
  .storybook/gatsby-mock.jsx
  .storybook/main.js
Labels: ci

Set GH actions job environment
  .github/workflows/deploy-storybook-to-github-pages.yml
  .github/workflows/deploy-via-firebase-hosting-pull-request.yml
Labels: ci

Set consurrency rules to avoid unneccessary runs
  .github/workflows/check-for-fixup-commits.yml
  .github/workflows/deploy-storybook-to-github-pages.yml
  .github/workflows/deploy-via-firebase-hosting-merge.yml
  .github/workflows/deploy-via-firebase-hosting-pull-request.yml
  .github/workflows/label-PRs.yml
Labels: ci

Support live preview in contentful. Fixes #334
  .env.example
  .yarn/cache/@contentful-content-source-maps-npm-0.11.37-a48321c895-417c7a000b.zip
  .yarn/cache/@contentful-live-preview-npm-4.6.49-0ff232c9e2-e8520a8000.zip
  .yarn/cache/@contentful-rich-text-types-npm-17.2.4-8e07f01838-6a9f8f7457.zip
  .yarn/cache/@lingui-core-npm-5.5.1-5952fa89ae-c279e9d331.zip
  .yarn/cache/@lingui-message-utils-npm-5.5.1-cb5aa61ccb-d5441d5a05.zip
  .yarn/cache/@messageformat-parser-npm-5.1.1-76637e90d1-530a53b144.zip
  .yarn/cache/@vercel-stega-npm-0.1.2-89d91cfc39-b86ffc044f.zip
  .yarn/cache/flatted-npm-3.3.3-ca455563b2-8c96c02fbe.zip
  .yarn/cache/foreach-npm-2.0.6-32ea85c4a8-f7b6849454.zip
  .yarn/cache/is-plain-obj-npm-3.0.0-a5ae411d5a-a6ebdf8e12.zip
  .yarn/cache/js-sha256-npm-0.10.1-44d1cc5c19-6eb5c9f95a.zip
  .yarn/cache/json-pointer-npm-0.6.2-fcbbae419b-668143014b.zip
  .yarn/cache/lodash.isequal-npm-4.5.0-f8b0f64d63-da27515dc5.zip
  .yarn/cache/moo-npm-0.5.2-8fca66e02b-5a41ddf105.zip
  README.md
  docs/CONTENTFUL_LIVE_PREVIEW_QUICKSTART.md
  docs/contentful-live-preview.md
  gatsby-browser.js
  package.json
  src/contexts/ContentfulLivePreviewProvider.jsx
  src/helpers/check-preview-mode.js
  src/hooks/use-contentful-live-updates.js
  src/templates/blog-post.jsx
  src/templates/work-day-information.jsx
  yarn.lock
Labels: dependencies

Add unit tests
  __mocks__/@contentful/live-preview/react.js
  __mocks__/@contentful/live-preview/style.css
  docs/contentful-live-preview.md
  docs/testing-contentful-live-preview.md
  src/contexts/ContentfulLivePreviewProvider.test.jsx
  src/helpers/check-preview-mode.test.js
  src/hooks/use-contentful-live-updates.test.js
  src/templates/blog-post.test.jsx
  src/templates/work-day-information.test.jsx
Labels: css

Permanently redirect some old URLs #188 #300
  firebase.json
Labels: none

Document redirects
  WARP.md
  docs/redirects.md
Labels: none

Move testing markdown file
  WARP.md
  docs/testing.md
Labels: none

Fix sitemap generation
  gatsby-config.js
Labels: none

.github/labeler.yml:

# Add 'bug' label to any PR where the head branch name starts with `bug` or has a `bug` section in the name
bug:
  - head-branch: ["^bug", "bug", "^bugfix", "bugfix", "^fix", "fix"]

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**/*"

css:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.css"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - ".nvmrc"
          - "yarn.lock"
          - ".yarn/**/*"
          - ".yarnrc"
